<div class="col-md-8 col-md-offset-2" id="application">
  <div class="panel panel-login">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-4">
          <a href="#!/tasks" class="active" id="register-form-link">Tareas</a>
        </div>
        <div class="col-xs-4">
          <a href="#!/event" class="" id="login-form-link">Eventos</a>
        </div>
        <div class="col-xs-4">
          <a href="#!/" class="" id="register-form-link" tp-on:click="exit">Salir</a>
        </div>
      </div>
      <hr>
      <router-view></router-view>
    </div>
  </div>
</div>