<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-login">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <a href="#!/" class="active" id="login-form-link">Login</a>
        </div>
        <div class="col-xs-6">
          <a href="#!/signup" class="" id="register-form-link">Registro</a>
        </div>
      </div>
        <hr>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
          <div class="form-group">
            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Usuario" value="" tp-model="username">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña" tp-model="password">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Entrar" tp-on:click="login">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>